@font-face {
    font-family: 'Istok Web';
    src: url(FONT/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: 'Istok Web';
    src: url(FONT/IstokWeb-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'PoppinsL';
    src: url(FONT/Poppins-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'PoppinsB';
    src: url(FONT/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'PoppinsR';
    src: url(FONT/Poppins-Regular.ttf);
    font-weight: 700;
}

:root {
    --primary-color: rgba(0, 97, 142, 1);
    --accent-color: rgba(10, 42, 56, 1);
    
}


.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 1365px;
    height: 56px;
    left: 58px;
    top: 37px;
    margin: 0 auto;
    font-family: 'PoppinsR';
}

.SoleSpace {
    margin: 0;
    width: 189px;
    height: 56px;
    top: 37px;
    left: 58px;

}

.Navigation {
    display: flex;
    align-items: center;
}

.Navigation ul{
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    gap: 18px;
}

.Navigation a {
    text-decoration: none;
    
}

.Navigation_Daftar{
    margin-left: 447px;
    margin-right: 23px;
    
}

.Navigation_Masuk{
    border: 1px solid var(--primary-color);
    padding: 4px 10px;
    font-size: 24px;
    font-family: 'Poppins';
    color: #fff;
    background-color: var(--primary-color);
    
}

.TagLine{
    position: absolute;
    justify-content: space-between;
}

.Tagline_clean{
    font-weight: 700;
}

