@font-face {
    font-family: 'Istok Web';
    src: url(FONT/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: 'Istok Web';
    src: url(FONT/IstokWeb-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(FONT/Poppins-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url(FONT/Poppins-Bold.ttf);
    font-weight: 700;
}

:root {
    --primary-color: rgba(0, 97, 142, 1);
    --accent-color: rgba(10, 42, 56, 1);
    
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 1365px;
    height: 56px;
    left: 58px;
    top: 37px;
    margin: 0 auto;
    font-family: 'Poppins';
}

.SoleSpace {
    margin: 0;
    width: 189px;
    height: 56px;
    top: 37px;
    left: 58px;

}

.Navigation {
    display: flex;
    align-items: center;
}

.Navigation a {
    text-decoration: none;
    margin-left: 18px;
    font-size: 24px;
    color: var(--primary-color)
}

.Navigation_Daftar{
    padding-left: 500px;
    ;

    
}

.Navigation_Masuk{
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}
